{
  "presets": [
    "react",
    "env"
  ],
  "plugins": [
    [
      "module-alias",
      [
        {
          "src": "./src/components",
          "expose": "components"
        }
      ]
    ]
  ]
}